body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0;
}

#module-search {
  padding: 1em;
}

#module-search paper-button {
  margin-top: 1em;
}

paper-button.colored {
  color: #4285F4;
  fill: #4285F4;
}

paper-button[raisedButton].colored {
  background: #4285F4;
  color: #FFF;
}

paper-item[active] {
  font-weight: bold;
}
