<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breach Module Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../elements/platform/platform.js"></script>
    <link rel="import" href="module-manager/module-manager.html">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body unresolved>
    <module-manager></module-manager>
    <script src="../elements/socket.io-client/socket.io.js"></script>
    <script>
      var socket = io('{{url}}');
    </script>
  </body>
</html>
