core-list {
  overflow: visible;
}

core-list .item:last-child {
  border-bottom-width: 0;
}

.core-item {
  border-bottom: 1px solid #ccc;
}

.core-item:hover {
  background-color: #F5F5F7;
}

.item {
  cursor: pointer;
  padding: 0.6em 0.8em;
}

.details-collapse div {
  padding: 0.8em;
}

.module-name {
  line-height: 2.4em;
}

paper-button.colored {
  color: #4285F4;
  fill: #4285F4;
}

paper-button[raisedButton].colored {
  background: #4285F4;
  color: #FFF;
}

web-loader {
  position: absolute;
  top: 20%;
  right: 50%;
}
